.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.header-sub {
  background-color: red;
  min-height: 4rem;
  overflow: hidden;
}

.logo {
  font-size: 24px;
  font-weight: 500;
  min-width: 128px;
  margin: 0 12px 0 6px;
  padding: 18px 0;
}
.search {
  margin: 2px 20px;
}

.search .input input {
  height: 48px;
  border-radius: 6px 0px 0px 6px;
  margin: 10px 0;
}
.search .icon {
  margin: 10px 0;
  height: 48px;
  background-color: #000;
  width: 38px;
  color: #fff;
  border-radius: 0px 6px 6px 0px;
}

/* .user {
  width: 122px;
} */

.myaccount {
  position: relative;
  min-width: 124px;
}

.logout {
  min-width: 80px;
}

.myaccount ::after {
  position: absolute;
  content: '';
  right: 0;
  top: calc(50% - 17px);
  background: rgb(247 214 222 / 30%);
  height: 34px;
  width: 1px;
}

.myaccount h1 {
  font-size: 16px;
}
.carticon {
  font-size: 24px;
  font-weight: 500;
  stroke-width: 0px !important;
}
.cart {
  position: relative;
}
.cart-count {
  display: flex;
  position: absolute;
  left: 12px;
  top: -6px;
  align-items: center;
  justify-content: center;
  height: 20px;
  min-width: 20px;
  padding: 4px;
  font-size: 10px;
  text-align: center;
  background: #fff;
  color: red;
  border-radius: 1.75em;
  /* transition: transform 0.35s ease-in-out;
  will-change: transform;
  transform: scale(1.01); */
  z-index: 1;
}
.hide-search {
  /* display: none !important; */
  padding: 2px 20px;
  position: relative;
  display: none;
}
.hide-search-show {
  display: block !important;
}
.hide-search .search {
  margin: 2px 0px;
}
.searchicon,
.user-icon {
  display: none !important;
  font-size: 20px;
}
.userhover .userhoverblock {
  display: none;
  border-radius: 1px;
}
.userhover:hover .userhoverblock {
  display: flex !important;
}
@media (max-width: 768px) {
  .showsearch,
  .user .myaccount,
  .logout {
    display: none;
  }
  .searchicon,
  .user-icon {
    display: flex !important;
  }
}
