.image-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 420px;
  background: black;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: black;
  transition: opacity 3s ease-in-out;
}

.slider-image.active {
  opacity: 1;
}
@media (max-width: 1024px) {
  .image-slider-container {
    height: 370px;
  }
}
@media (max-width: 800px) {
  .image-slider-container {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .image-slider-container {
    height: 230px;
  }
}
@media (max-width: 600px) {
  .image-slider-container {
    height: 180px;
  }
}
